<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiku.mapper.BoardcastMapper">
  <resultMap id="BaseResultMap" type="com.zhiku.entity.Boardcast">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="boardcast_date" jdbcType="DATE" property="boardcastDate" />
    <result column="boardcast_img" jdbcType="VARCHAR" property="boardcastImg" />
    <result column="boardcast_link" jdbcType="VARCHAR" property="boardcastLink" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zhiku.entity.Boardcast">
    <result column="boardcast_content" jdbcType="LONGVARCHAR" property="boardcastContent" />
  </resultMap>
  <sql id="Base_Column_List">
    bid, boardcast_date, boardcast_img, boardcast_link
  </sql>
  <sql id="Blob_Column_List">
    boardcast_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from boardcast
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from boardcast
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhiku.entity.Boardcast">
    insert into boardcast (bid, boardcast_date, boardcast_img, 
      boardcast_link, boardcast_content)
    values (#{bid,jdbcType=INTEGER}, #{boardcastDate,jdbcType=DATE}, #{boardcastImg,jdbcType=VARCHAR}, 
      #{boardcastLink,jdbcType=VARCHAR}, #{boardcastContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiku.entity.Boardcast">
    insert into boardcast
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="boardcastDate != null">
        boardcast_date,
      </if>
      <if test="boardcastImg != null">
        boardcast_img,
      </if>
      <if test="boardcastLink != null">
        boardcast_link,
      </if>
      <if test="boardcastContent != null">
        boardcast_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="boardcastDate != null">
        #{boardcastDate,jdbcType=DATE},
      </if>
      <if test="boardcastImg != null">
        #{boardcastImg,jdbcType=VARCHAR},
      </if>
      <if test="boardcastLink != null">
        #{boardcastLink,jdbcType=VARCHAR},
      </if>
      <if test="boardcastContent != null">
        #{boardcastContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiku.entity.Boardcast">
    update boardcast
    <set>
      <if test="boardcastDate != null">
        boardcast_date = #{boardcastDate,jdbcType=DATE},
      </if>
      <if test="boardcastImg != null">
        boardcast_img = #{boardcastImg,jdbcType=VARCHAR},
      </if>
      <if test="boardcastLink != null">
        boardcast_link = #{boardcastLink,jdbcType=VARCHAR},
      </if>
      <if test="boardcastContent != null">
        boardcast_content = #{boardcastContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhiku.entity.Boardcast">
    update boardcast
    set boardcast_date = #{boardcastDate,jdbcType=DATE},
      boardcast_img = #{boardcastImg,jdbcType=VARCHAR},
      boardcast_link = #{boardcastLink,jdbcType=VARCHAR},
      boardcast_content = #{boardcastContent,jdbcType=LONGVARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiku.entity.Boardcast">
    update boardcast
    set boardcast_date = #{boardcastDate,jdbcType=DATE},
      boardcast_img = #{boardcastImg,jdbcType=VARCHAR},
      boardcast_link = #{boardcastLink,jdbcType=VARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>