<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiku.mapper.PreferenceMapper">
  <resultMap id="BaseResultMap" type="com.zhiku.entity.mysql.Preference">
    <id column="prfid" jdbcType="INTEGER" property="prfid" />
    <result column="prf_name" jdbcType="VARCHAR" property="prfName" />
  </resultMap>
  <sql id="Base_Column_List">
    prfid, prf_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from preference
    where prfid = #{prfid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from preference
    where prfid = #{prfid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhiku.entity.mysql.Preference">
    insert into preference (prfid, prf_name)
    values (#{prfid,jdbcType=INTEGER}, #{prfName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiku.entity.mysql.Preference">
    insert into preference
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prfid != null">
        prfid,
      </if>
      <if test="prfName != null">
        prf_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prfid != null">
        #{prfid,jdbcType=INTEGER},
      </if>
      <if test="prfName != null">
        #{prfName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiku.entity.mysql.Preference">
    update preference
    <set>
      <if test="prfName != null">
        prf_name = #{prfName,jdbcType=VARCHAR},
      </if>
    </set>
    where prfid = #{prfid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiku.entity.mysql.Preference">
    update preference
    set prf_name = #{prfName,jdbcType=VARCHAR}
    where prfid = #{prfid,jdbcType=INTEGER}
  </update>

  <!-- 自定义SQL -->
  <select id="selectAllPreferences" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    preference
  </select>
</mapper>