.flex_form
{
    display: flex !important;
    flex: 1 1 auto!important;
    flex-direction: column;

}
.container
{
    position: relative;
    display: block;
    width: 27.8vw;
    height: auto;
    max-height: 70vh;
    overflow: hidden;
}
.pic_cropper_dialog
{
    display: none;
    background-clip: padding-box;
    background-color: #fff;
    border-color: #444d56;
    box-shadow: 0 0 18px rgba(0,0,0,.4);
    width: 28vw;
    left: 50%;
    margin: 5vh auto;
    max-height: 90vh;
    max-width: 90vw;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 28vw;
    z-index: 999;
}

.Box {
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}
.Box-header
{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-width: 0 0 1px;
    margin: 0;
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
}
.Box-title
{
    text-align: center;
    cursor: default;
}

.pic_upload
{
    background-color: #fff;
    padding-bottom: 2%;
    font-size: 15px;
    font-weight: 500;
    color: black;
    display: inline-block;
    outline: 0px;
}
.pic_upload:hover
{
    background:rgb(90, 211, 248);
}
.pic_input
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.button_bar
{
    background: #fff;
    height: 4vh;
}
.pic_dialog_close
{
    position: absolute;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 18%;
    cursor: pointer;
}

.pic_OK
{
    width: 100%;
    height: 100%;
    background: rgb(90, 211, 248);
    display: inline-block;
    border: 0px;
}

.pic_cropper_button
{
    width: 100px;
    background: beige;
    outline: 0;
    list-style: none;
    cursor: pointer;
}

.details-overlay-dark::before {
    display: none;
    background: rgba(27,31,35,.5);
    bottom: 0;
    content: " ";
    cursor: default;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 80;
}