.header-name{
     font-size:x-large;
     margin-right: 2vw;
 }

 .header-slogan{
     margin-right: 15vw;
 }
 
 .el-tabs__item:focus.is-active.is-focus:not(:active){
     border: none;
     border-color:#333;
     box-shadow:none;
 }
.messageBox-confirm .el-message-box__header{
    margin-top: 1vh;
    margin-bottom: 5vh;
}